.maria{
    background-color: rgb(109, 161, 220); /*esse to usando back ground dos links*/
}
.mae{
    display: flex;
}
.c{
    background-color: yellow; /*esse to usando back ground do index*/
}

.foto{
    width: 50px;  /*largura da imagem do index*/
}

.prod{
    color:  rgb(60, 60, 187);
}

.escolha{
    display: none;
}

.submae{
    margin-left: 1200px;
    
}

.submae:hover .escolha{
    display: block;
    
    
}

.baixo{
    margin-top: 75vh;
    background-color: rgb(109, 161, 220);
    color: rgb(60, 60, 187);
    border: solid rgb(109, 161, 220) 1px ;
    border-radius: 3px;
}

span{
    background-color: rgb(109, 161, 220);
    border: solid rgb(109, 161, 220) 1px ;
    border-radius: 3px;

}

.cad{
    display: flex;
    justify-content: center;
    
}

.tudo{
    
    justify-content: center;
    border: solid black 3px;
    border-radius: 5px;
    margin-top: 100px;
    padding: 50px;
    background-color: yellow;
}

.s{
    margin: 5px;
    border: solid black 2px;
    border-radius: 5px;
    padding: 5px;
    font-family: 'Lucida Sans';
}

.gg{
    display: flex;
    justify-content: center;

}

.w{
    margin-left: 100px; /*botão de enviar cargo*/
}

a{
    text-decoration: none;
}

.z{
    margin-left: 135px;
}

.r{
    margin-left: 120px;
}

.pedro{
    text-align: center;
}

.joao{
    text-align: center;
}

.breno{
    color: red;
    font-family: 'Lucida Sans';
    text-align: center;
}

.biden{

    color: red;
    font-family: 'Lucida Sans';
    text-align: center;
}
.baixo{
    margin-top: 480px;
}

.baixo .baixoo{
    margin-left: 4px;
    text-align: center;
}


